<!DOCTYPE html>
<html>
<head>
  <title>JsViews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style>
    .error, .alert {
      background-color: rgb(255, 168, 162);
    }
    .notice, .success {
      background-color: lightgreen;
    }
  </style>
</head>
<body>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
<%= yield %>

</body>
</html>
